.projectTask {
	width: calc(100% - 40px - 40px);
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.projectTask__tasks {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 22px;
}
