.profile__radiobtn-container {
	display: flex;
	max-height: 45px;
	align-items: center;
	white-space: nowrap;
}

.profile__radiobtn-container:not(:last-child) {
	margin-bottom: 24px;
}

.profile__radiobtn-container input[type='radio'],
.profile__radiobtn-container input[type='radio']:checked {
	display: none;
}

.profile__radiobtn-container input[type='radio']:checked + label,
.profile__radiobtn-container input[type='radio']:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

.profile__radiobtn-container input[type='radio']:checked + label:before,
.profile__radiobtn-container input[type='radio']:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0px;
	top: 10px;
	width: 17px;
	height: 17px;
	border: 1px solid #6750a4;
	background-color: transparent;
	border-radius: 50%;
}

.profile__radiobtn-container input[type='radio']:checked + label:after,
.profile__radiobtn-container input[type='radio']:not(:checked) + label:after {
	content: '';
	position: absolute;
	left: 0px;
	top: 10px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #6750a4;
	background-image: url(../../images/icon-checked.svg);
	background-position: center;
	background-repeat: no-repeat;
}

.profile__radiobtn-container input[type='radio']:not(:checked) + label:after {
	opacity: 0;
}

.profile__radiobtn-container input[type='radio']:checked + label:after {
	opacity: 1;
}

.profile__radiobtn-label {
	display: inline-block;
	min-height: 45px;
}

.profile__radiobtn__title,
.profile__radiobtn__text {
	margin: 0;
}

.profile__radiobtn__title {
	font-size: 15px;
	letter-spacing: 0.25px;
	color: #1a1a1a;
}

.profile__radiobtn__text {
	font-size: 12px;
}
