.settings {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 40px);
	background-color: white;
	border-radius: 40px;
	caret-color: transparent;
	margin-left: auto;
	width: 80%;
	max-width: 1120px;
}
