.page {
	max-width: 100%;
	padding: 20px;
	background-color: #6750a2;
	font-family: 'Roboto', sans-serif, Arial;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}
