.matrix__task {
	list-style: none;
	display: flex;
	gap: 12px;
	overflow: hidden;
}

.matrix__task-emoji {
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	align-items: center;
	display: flex;
}

.matrix__task-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
