.authForm__checkbox-container {
	display: flex;
	margin: 24px 0 0;
	align-items: center;
}

.authForm__checkbox-label {
	display: inline-block;
	height: 24px;
	width: 24px;
	background: #fff;
	border: 1px #6750a4 solid;
	border-radius: 50%;
	margin-right: 16px;
	cursor: pointer;
}

.authForm__checkbox-label_checked {
	background-color: #6750a4;
	background-image: url('../../images/icon-checked.svg');
	background-repeat: no-repeat;
	background-position: center;
	border: 1px #6750a4 solid;
}

.authForm__checkbox {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.authForm__checkbox-text {
	margin: 0;
	font-size: 14px;
	line-height: 1.42;
	letter-spacing: 0.1px;
}
