.authForm__cancel-button {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 51px;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #6750a4;
	background-color: #fff;
	border-radius: 100px;
	border: 1px solid #79747e;
}

.authForm__cancel-button:hover {
	cursor: pointer;
}
