.authForm__input-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	max-width: 100%;
	border: 1px solid #79747e;
	border-radius: 100px;
	padding: 8px 16px;
	height: 56px;
}

.authForm__input-container {
	margin-top: 24px;
}
.authForm__input-container:first-child {
	margin-top: 44px;
}

.authForm__input {
	padding: 0;
	max-width: 446px;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #1d1b20;
	letter-spacing: 0.5px;
}
.authForm__input_error {
	color: #b3261e;
}

.authForm__input-errText {
	margin: 0 16px 0 16px;
	display: block;
	margin-top: 4px;
	padding: 0;
	max-width: 430px;
	width: 100%;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #b3261e;
}

.authForm__showPassBtn {
	width: 22px;
	height: 22px;
	background-image: url(../../images/hideIcon.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.authForm__showPassBtn:hover {
	cursor: pointer;
}

.authForm__errorIcon {
	width: 22px;
	height: 22px;
	background-image: url(../../images/errorIcon.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.authForm__inputHint {
	display: block;
	margin-top: 4px;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #49454f;
	margin-left: 16px;
	max-width: 298px;
}

.authForm__input-container-error {
	border: 1px solid #b3261e;
}
