.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 500px;
	position: fixed;
	padding: 40px;
	top: 0;
	right: 0;
	background-color: var(--secondary-background-color);
}

.sidebar__overlay {
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 100%;
}

.sidebar__close-button {
	position: absolute;
	top: 57px;
	right: 40px;
	background: none;
	padding: 0;
	border: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.sidebar__close-button-img {
	width: 100%;
	z-index: 1000;
	height: 100%;
}
