.profile__form-button {
	height: 36px;
	margin-top: 20px;
	padding: 0;
	color: #6750a4;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 0.1px;
	cursor: pointer;
}

.profile__form-button-img {
	width: 18px;
	height: 18px;
	margin: 0 8px;
	background-position: center;
	object-fit: cover;
}
