.authForm__submit-button {
	margin-top: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 462px;
	height: 52px;
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	background-color: #6750a4;
	border-radius: 100px;
	border: none;
}

.authForm__submit-button_disabled {
	background-color: rgba(226, 220, 228, 1);
	color: rgba(29, 27, 32, 0.379);
}

.authForm__submit-button:hover {
	cursor: pointer;
}

.authForm__submit-button_small {
	max-width: 221px;
}
