.resetForm {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.resetForm__title {
	font-size: 32px;
	font-weight: 700;
	letter-spacing: -0.96px;
	padding: 10px 0;
	margin: 0;
	max-width: 390px;
}

.resetForm__text {
	font-size: 15px;
	line-height: 20px;
	margin: 36px 0 0;
	font-weight: 400;
	letter-spacing: 0.25px;
	opacity: 0.99;
}

.resetForm__text_bold {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
}

.resetForm__fieldset {
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	margin: 32px 0;
	padding: 0;
	border: none;
}

.resetForm__btnContainer {
	display: flex;
	justify-content: space-between;
	margin: 24px 0 0;
}

.resetForm__btnContainer_justify-center {
	justify-content: center;
}

.resetForm__linkContainer {
	display: flex;
	margin: 12px 0 0;
}

.resetForm-error {
	position: absolute;
	top: -24px;
	left: 0;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: var(--error-color);
}
