.sidebar-select__wrapper {
	position: relative;
}

.sidebar-select {
	align-items: center;
	margin: 0;
	padding: 4px 0 4px 16px;
	justify-content: start;
	width: 420px;
	opacity: 100;
	height: 56px;
	border-radius: 100px;
	background-color: var(--secondary-background-color);
	border: 1px solid var(--light-outline-color) !important;
	box-shadow: none !important;
}

.sidebar-select::after {
	content: '';
	position: absolute;
	right: 15px;
	background-image: url('../../images/select-arrow.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 24px;
	height: 24px;
}

.sidebar-select .p-icon {
	visibility: hidden;
}

.p-dropdown-items {
	padding: 0 !important;
}

.p-dropdown-item {
	padding: 0 !important;
}

.sidebar-select .p-dropdown-label {
	color: var(--light-text-color) !important;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.p-dropdown-panel {
	width: 420px;
	background-color: var(--secondary-background-color);
	border-radius: 20px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.14);
}

.p-dropdown-items-wrapper::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
.p-dropdown-items-wrapper::-webkit-scrollbar-track {
	background: var(--scrollbar-background-color);
}
.p-dropdown-items-wrapper::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-color);
	border-radius: 100px;
}

.sidebar-select__options-element {
	display: flex;
	cursor: pointer;
	justify-content: flex-start;
	font-size: 15px;
	gap: 12px;
	line-height: 20px;
	letter-spacing: 0.25px;
	align-items: center;
	padding: 12px;
	width: 100%;
	height: 48px;
}
